.Viewer section {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Viewer h4 {
    font-size: 22px;
    font-weight: bold;
}


.Viewer .emotion_img_wrapper {
    background-color: #ececec;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Viewer .emotion_img_wrapper_1 {
    background-color: #64c964;
}

.Viewer .emotion_img_wrapper_2 {
    background-color: #9dd772;
}

.Viewer .emotion_img_wrapper_3 {
    background-color: #fdce17;
}

.Viewer .emotion_img_wrapper_4 {
    background-color: #fd8446;
}

.Viewer .emotion_img_wrapper_5 {
    background-color: #fd565f;
}

.Viewer .emotion_descript {
    font-size: 25px;
    color: white;
}

.Viewer .content_wrapper {
    width: 100%;
    background-color: #ececec;
    border-radius: 5px;
    word-break: keep-all; /* 줄바꿈을 할때 원래 글자단위 -> 단어 단위로 줄바꿈이 됨 */
    overflow-wrap: break-word;
    /* 띄어쓰기를 하지 않고 많은 단어 입력 -> 줄바꿈이 안됨 -> 레이아웃이 깨짐 */
    /* break-word -> 공간이 부족할때 강제로 단어를 끊음 */
}

.Viewer .content_wrapper p {
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-family: "Sunflower";
    font-weight: 300;
    line-height: 2.5;
}